@model IEnumerable<IGrouping<string, Product>>
<div class="container">
	<div class="row pt-4 pb-4">
		<div class="col-6">
			<h1>Products</h1>
			@if (TempData["SuccessMessage"] != null)
			{
				<div class="alert alert-success alert-dismissible" role="alert">
					<div>@TempData["SuccessMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			@if (TempData["FailureMessage"] != null)
			{
				<div class="alert alert-danger alert-dismissible" role="alert">
					<div>@TempData["FailureMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Products" asp-action="Create" class="btn btn-light">
				<i class="bi bi-plus-circle"></i> Add Product
			</a>
		</div>
	</div>

	<table class="table" style="background-color: #141414; color: #dcdcdc;">
		<thead>
			<tr>
				<th>
					Product Name
				</th>
				<th>
					Quantity
				</th>
				<th>
					Product Id
				</th>
				<th>
					Price
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@foreach (var group in Model)
			{
				<tr>
					<td>
						@group.Key
					</td>
					<td>
						@group.Count()
					</td>
					@{
						var firstObj = group.First();
						var restObjs = group.Skip(1);
					}
					<td>
						@firstObj.ProductId
					</td>
					<td>
						@firstObj.Price
					</td>
					<td>
						<div role="group" class="w-75 btn-group ">
							<a asp-controller="Products" asp-action="Edit" asp-route-Id="@firstObj.ProductId" class="btn btn-light">
								Edit
							</a>
						</div>
					</td>
					@foreach (var obj in restObjs)
					{
					<tr>
						<td></td>
						<td></td>
						<td>
								@obj.ProductId
						</td>
						<td>
								@obj.Price
						</td>
						<td>
							<div role="group" class="w-75 btn-group ">
								<a asp-controller="Products" asp-action="Edit" asp-route-Id="@obj.ProductId" class="btn btn-light">
									Edit
								</a>
							</div>
						</td>
					</tr>
					}
				</tr>
				
			}
		</tbody>
	</table>

</div>