@model IEnumerable<IGrouping<string, Product>>
<div class="container">
	<div class="row pt-4 pb-4">
		<div class="col-6">
			<h1>Products</h1>
			@if (TempData["SuccessMessage"] != null)
			{
				<div class="alert alert-success alert-dismissible" role="alert">
					<div>@TempData["SuccessMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			@if (TempData["FailureMessage"] != null)
			{
				<div class="alert alert-danger alert-dismissible" role="alert">
					<div>@TempData["FailureMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
		</div>
		<div class="col-6 text-end">
			<a id="goBackBtn" class="btn btn-light">
				<i class="bi bi-plus-circle"></i> Go Back
			</a>
		</div>
	</div>
	<table class="table" style="background-color: #141414; color: #dcdcdc;">
		<thead>
			<tr>
				<th>
					Product Name
				</th>
				<th>
					Quantity
				</th>
				<th>
					Product Code
				</th>
				<th>
					Price
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var group in Model)
			{
				
				var firstObj = group.First();
				var restObjs = group.Skip(1);
				<form method="post">
					<tr>
					<td>
						@group.Key
					</td>
					<td>
						@group.Count()
					</td>
					<td>
						@firstObj.ProductCode
					</td>
					<td>
						@firstObj.Price
					</td>
					<td>
						<input name="ProductId" asp-for="@firstObj.ProductId" class=" form-control" hidden />
					</td>
					<td>
						<input name="InvoiceId" class="getID" class=" form-control" hidden />
					</td>
					<td>
						<div role="group" class="w-75 btn-group ">
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</td>
					</tr>
				</form>
					@foreach (var obj in restObjs)
					{
				<form method="post">
					<tr>
						<td></td>
						<td></td>
						<td>
								@obj.ProductCode
						</td>
						<td>
								@obj.Price
						</td>
						<td>
							<input name="ProductId" asp-for="@obj.ProductId" class=" form-control" hidden />
						</td>
						<td>
							<input name="InvoiceId" class="getID" class="form-control" hidden />
						</td>
						<td>
							<div role="group" class="w-75 btn-group ">
								<button type="submit" class="btn btn-primary">Add</button>
							</div>
						</td>
					</tr>
				</form>
					}
				

			}
			
		</tbody>
	</table>

</div>
<script>
	// Function to handle click event
	var currentPageId = window.location.href[window.location.href.length - 1];
	var x = document.getElementsByClassName("getID");
	for (var i = 0; i < x.length; i++) {
		x[i].value = currentPageId;
	}
	document.getElementById("goBackBtn").addEventListener("click", function () {
		// Get the id from the current URL
		console.log(currentPageId);

		// Navigate to the desired URL with the id
		window.location.href = "/BillDetails/Index/" + currentPageId;
	});
</script>