@model List<InvoiceProduct>
<div class="container">
	<div class="row pt-4 pb-4">
		<div class="col-6">
			<h1>Products</h1>
			@if (TempData["SuccessMessage"] != null)
			{
				<div class="alert alert-success alert-dismissible" role="alert">
					<div>@TempData["SuccessMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			@if (TempData["FailureMessage"] != null)
			{
				<div class="alert alert-danger alert-dismissible" role="alert">
					<div>@TempData["FailureMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
		</div>
		<div class="col-6 text-end">
			<a id="addProductsBtn" class="btn btn-light">
				<i class="bi bi-plus-circle"></i> Add Products
			</a>
		</div>
	</div>

	<table class="table" style="background-color: #141414; color: #dcdcdc;">
		<thead>
			<tr>
				<th>
					Product Name
				</th>
				<th>
					Quantity
				</th>
				<th>
					Product Code
				</th>
				<th>
					Price
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@{
				var groupedProducts = Model.GroupBy(p => p.Product.Name);
			}
			@if (Model != null)
			{
				@foreach (var group in groupedProducts)
				{
					<tr>
						<td>
							@group.Key
						</td>
						<td>
							@group.Count()
						</td>
						@{
							var firstObj = group.First();
							var restObjs = group.Skip(1);
						}
						<td>
							@firstObj.Product.ProductCode
						</td>
						<td>
							@firstObj.Product.Price
						</td>
						@foreach (var obj in restObjs)
						{
						<tr>
							<td></td>
							<td></td>
							<td>
									@obj.Product.ProductCode
							</td>
							<td>
									@obj.Product.Price
							</td>
						</tr>
						}
					</tr>

				}
			}
			else
			{
				<p>No data available.</p>
			}
			@{
				decimal sum = 0;
				foreach (var obj in Model)
				{
					sum = sum + obj.Product.Price;
				}
			}
			<tr>
				<td>
					Grand Total
				</td>
				<td></td>
				<td></td>
				<td>
					@sum
				</td>
			</tr>
		</tbody>
	</table>
	<a asp-controller="Bills" asp-action="Index" class="btn btn-outline-light">Back to list</a>

</div>

<script>
	// Function to handle click event
	document.getElementById("addProductsBtn").addEventListener("click", function () {
		// Get the id from the current URL
		var currentPageId = window.location.href[window.location.href.length - 1];
		console.log(currentPageId);

		// Navigate to the desired URL with the id
		window.location.href = "/BillDetails/Add/"+currentPageId;
	});
</script>