@model List<InvoiceProduct>
<div class="container">
	<div class="row pt-4 pb-4">
		<div class="col-6">
			<h1>Products</h1>
			@if (TempData["SuccessMessage"] != null)
			{
				<div class="alert alert-success alert-dismissible" role="alert">
					<div>@TempData["SuccessMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			@if (TempData["FailureMessage"] != null)
			{
				<div class="alert alert-danger alert-dismissible" role="alert">
					<div>@TempData["FailureMessage"]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
		</div>
		<div class="col-6 text-end">
			<a id="addProductsBtn" class="btn btn-light">
				<i class="bi bi-plus-circle"></i> Add Products
			</a>
		</div>
	</div>

	<table class="table" style="background-color: #141414; color: #dcdcdc;">
		<thead>
			<tr>
				<th>
					Product Name
				</th>
				<th>
					Product Id
				</th>
				<th>
					Price
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@if (Model != null)
			{
				@foreach (var obj in Model)
				{
					<tr>
						<td>
							@obj.Product.Name
						</td>
						<td>
							@obj.ProductId
						</td>
						<td>
							@obj.Product.Price
						</td>
					</tr>
				}
			}
			else
			{
				<p>No data available.</p>
			}
			@{
				decimal sum = 0;
				foreach (var obj in Model)
				{
					sum = sum + obj.Product.Price;
				}
			}
			<tr>
				<td>
					Grand Total
				</td>
				<td></td>
				<td>
					@sum
				</td>
			</tr>
		</tbody>
	</table>
	<a asp-controller="Bills" asp-action="Index" class="btn btn-outline-light">Back to list</a>

</div>

<script>
	// Function to handle click event
	document.getElementById("addProductsBtn").addEventListener("click", function () {
		// Get the id from the current URL
		var currentPageId = getCurrentPageId();

		// Navigate to the desired URL with the id
		window.location.href = "/BillDetails/Add/" + currentPageId;
	});

	// Function to get the id from the current URL
	function getCurrentPageId() {
		// Your logic to extract the id from the current URL
		// For demonstration purposes, let's assume the id is extracted from the query string
		var urlParams = new URLSearchParams(window.location.search);
		return urlParams.get('id');
	}
</script>